.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-content: center;
}

.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgb(0, 0, 0.87);
    font-size: 15px;

}
.home_header a:hover{
    text-decoration: underline;
}